@import "./Reset.scss";
@import "./Variables.scss";

.header {
  height: $height_header;
  line-height: $height_header;
  display: flex;
  justify-content: space-between;
  color: white;
  background: $color_accent1;
  &_left {
    margin-left: 10vw;
  }
  &_right {
    margin-right: 10vw;
  }
}
.logout {
  border-radius: 50%;
  padding: $space_s;
  margin-left: $space_m;
  &:hover {
    cursor: pointer;
    background: $color_accent1_hover;
  }
  & > svg {
    position: relative;
    top: -2px;
  }
}
.username {
}