@import "./Reset.scss";
@import "./Variables.scss";

.modal_show {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(80, 80, 80, 0.8);
  animation: fade linear 0.5s forwards;
}
.modal_hidden {
  display: none;
}

.modal_body {
  border-radius: 20px;
  padding: $space_l;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 30vw;
  z-index: 20;
}

.task_title {
  font-size: $fontsize_ml;
  padding-bottom: $space_xs;
  border-bottom: $border_default;
  margin-bottom: $space_s;
}
.task_detail {
  display: inline-block;
  margin-top: $space_m;
  margin-bottom: $space_xs;
  padding: 0 $space_s;
  padding-bottom: $space_xs;
  border-bottom: $border_default;
}
.button_close {
  display: block;
  position: absolute;
  top: -35px;
  right: 0;
  font-size: $fontsize_l;
  color: white;
}
.button_edit {
  margin-left: $space_s;
}
.button_update {
  border: $border_default;
  background: white;
  position: absolute;
  bottom: -50px;
  right: 0;
  font-size: $fontsize_sm;
  padding: $space_xs $space_m;
  border-radius: 10px;
  &.disable {
    background: #999;
    &:hover {
      cursor: auto;
    }
  }
}
.edit {
  &:hover {
    color: $color_accent1;
  }
}
.input {
  width: 100%;
  font-size: $fontsize_ml;
  padding-bottom: $space_xs;
  border-bottom: $border_default;
  margin-bottom: $space_s;
  &_container {
    position: relative;
  }
  &_finish {
    position: absolute;
    right: 0;
    top: 0;
    font-size: $fontsize_ml;
    &:hover {
      color: $color_accent1;
    }
  }
}
.select {
  padding-left: $space_m;
  &_container {
    display: flex;
    align-items: center;
    position: relative;
    &:after {
      content: "";
      width: 8px;
      height: 8px;
      border-bottom: 2px solid #999;
      border-right: 2px solid #999;
      position: absolute;
      top: 25%;
      left: 13%;
      transform: rotate(45deg);
    }
  }
}
.textarea {
  display: block;
  resize: none;
  width: 100%;
  min-height: 24px;
}
.detail {
  white-space: pre-wrap;
  word-wrap: break-word;
}

@keyframes fade {
  0% {opacity: 0}
  100% {opacity: 1}
};
@keyframes fadeOut {
  0% {opacity: 1}
  100% {opacity: 0}
};