@import "./Reset.scss";
@import "./Variables.scss";

.wrapper {
  width: 50vw;
  min-width: 900px;
  margin: 0 auto;
  position: relative;
  padding-top: 10vh;
}
.task_field {
  display: flex;
  justify-content: space-around;
  border: $border_default;
  min-height: 50vh;
  position: relative;
  border-right: none;
}
.task_column {
  width: calc(100%/3);
  border-right: $border_default;
}
.hide {
  display: none;
}
.no_task_msg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  width: 50%;
  background-color: rgba(240, 240, 240, 0.8);
  &_inner {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.subtitle {
  padding: $space_s;
  text-align: center;
  border-bottom: $border_default;
  &__not_start {
    background-color: $color_main;
    color: white;
  }
  &__processing {
    background-color: $color_accent2;
    color: white;
  }
  &__complete {
    background-color: $color_sub;
    color: white;
  }
}
.task_wrapper {
  padding: $space_s;
}
.button {
  font-size: $fontsize_l;
  display: inline-block;
  &:hover {
    color: $color_accent2;
  }
  &_container {
    text-align: center;
  }
}