@import "./Reset.scss";
@import "./Variables.scss";

.wrapper {
  width: 50vw;
  min-width: 900px;
  margin: 0 auto;
  position: relative;
  top: 10vh;
}
.task_field {
  display: flex;
  justify-content: space-around;
  border: $border_default;
  margin-top: $space_l;
  min-height: 50vh;
  position: relative;
  border-right: none;
}
.task_column {
  width: calc(100%/3);
  border-right: $border_default;
}
.hide {
  display: none;
}
.no_task_msg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: $space_2l;
  background-color: rgba(230, 230, 230, 0.8);
}
.subtitle {
  padding: $space_s;
  text-align: center;
  border-bottom: $border_default;
  &__not_start {
    background-color: $color_main;
    color: white;
  }
  &__processing {
    background-color: $color_accent2;
    color: white;
  }
  &__complete {
    background-color: $color_sub;
    color: white;
  }
}
.task_wrapper {
  padding: $space_s;
}