html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
// space
$space_xs: 5px;
$space_s: 10px;
$space_sm: 15px;
$space_m: 20px;
$space_l: 30px;
$space_2l: 50px;

// font-size
$fontsize_s: 1rem;
$fontsize_sm: 1.4rem;
$fontsize_m: 1.6rem;
$fontsize_ml: 2.0rem;
$fontsize_l: 2.5rem;
$fontsize_2l: 3rem;

$border_default: 1px solid #999;